:root{
  --background-color: #010101;
  --text-color: #cacaca;
  --border-color: #333333;
  --main-color: #5f43b2;
  --sec-color: #3a3053;
  --main-width: 1400px;
  --border-radius: 10px;
}

*{
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: var(--border-radius);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body{
  background-color: var(--background-color);
  overflow-x: hidden;
  margin: 0;
}

p{
  color: var(--text-color);
}

main{
  width: var(--main-width);
  min-height: 100dvh;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  margin: 0 auto;
}

header{
  position: fixed;
  z-index: 20;
  border-bottom: 1px solid var(--border-color);
  background-color: #010101a6;
  width: 100%;
  padding: 10px;
  backdrop-filter: blur(10px);
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
  display: flex;
}

h1, h2, h3, h4{
  color: white;
}

section {
  scroll-margin-top: 40px; /* Ajusta este valor según la altura de tu header */
}

header:hover::after{
  background-color: var(--main-color);
}

header .headerLogo h2{
  color: var(--text-color);
  font-weight: 800;
  padding: 10px;
  margin: 0;
}

header .headerNav{
  display: flex;
  margin-left: auto;
  gap: 10px;
  height: 100%;
}

header .headerNav a{
  color: var(--text-color);
  padding: 10px;
  text-decoration: none;
  height: 100%;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  transition: .2s;
}

header .headerNav a:hover{
  color: white;
  border: 1px solid white;
}

footer{
  color: var(--text-color);
  border-top: 1px solid var(--border-color);
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

footer a{
  color: white;
  font-weight: bold;
}

footer span{
  display: flex;
  gap: 10px;
  align-items: center;
}

footer span a img{
  width: 20px;
  border-radius: 5px;
}

.wdiHeader{
  background: linear-gradient(to top right, #002f54, #25c3f3);
  color: white !important;
  margin-left: 10px;
}

.tryHeader{
  background: linear-gradient(to top right, #3c0054, var(--main-color));
  color: white !important;
}